html, body {
    min-height: 100vh;
    margin: 0;
    background-color: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    position: relative;
    text-align: center;
}

img {
    position: absolute;
    height: 450px;
    width: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img:hover {
    box-shadow: black 0 0 10px;
    height: 500px;
}

img:hover ~ #app {
    filter: blur(5px);
}

#container-img {
    height: 450px;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    justify-content: center;
}

button {
    background-color: rgb(1, 180, 228);
    color: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

img, button {
    box-shadow: black 0 0 30px;
}

button:hover {
    background-color: #555; /* Couleur au survol */
    text-shadow: whitesmoke 0 0 30px;
    box-shadow: black 0 0 10px;
}

* {
    /* outline: 2px solid red; */
    text-shadow: black 0 0 30px;
    transition: ease-in-out 0.3s;
    border-radius: 8px;
}