* {
    /* outline: 2px solid red; */
    transition: ease-in-out 0.3s;
    transition-delay: 0s;
    text-shadow: black 0 0 30px;
    border-radius: 8px;
    text-align: center;
    color: whitesmoke;
}

html {
    background-color: #222;
}

body {
    min-height: 100vh;
    margin: 0;
}

img, button {
    box-shadow: black 0 0 30px;
    border: black 1px solid;
}

img, video {
    z-index: 10;
    max-width: 100%;
    height: auto;
    /*display: block;*/
}

button {
    background-color: rgb(1, 180, 228);
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
}

button:hover {
    background-color: #555; /* Couleur au survol */
    text-shadow: whitesmoke 0 0 30px;
    box-shadow: black 0 0 10px;
}

#zenith {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zenith * {
    position: absolute;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#poster {
    height: 450px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 60px));
}

#poster:hover {
    box-shadow: black 0 0 10px;
    height: 500px;
    border-color: gray;
}

#poster:hover ~ * {
    filter: blur(5px);
}

#container-img {
    height: 450px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    justify-content: center;
}

#btnLogin {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

#btnLogout {
    background-color: red;
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}